@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: var(--font-poppins);
  box-sizing:border-box ;
  margin: 0;
  padding: 0;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #1770d6; /* blue-300 */
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #cd54ee transparent;
}

.no-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}